form(name='contatoForm' action="/update/"+contato.id method="post")
    .form-field
        label(for='inputNome') Nome
        input#inputNome(name='nome', value=contato.nome, type='text', required='', placeholder='Seu nome completo...')
    .form-field
        label(for='inputTelefone') Telefone 
            small Ex: (XX) XXXXX-XXXX
        input#inputTelefone(name='telefone', value=contato.telefone, type='text', placeholder='Ex: (XX) XXXXX-XXXX', required='')
    .form-field
        label(for='inputEmail') E-mail 
            small Ex: email@email.com
        input#inputEmail(name='email', value=contato.email, type='email', placeholder='Ex: email@email.com', required='')
    .form-field
        label(for='textEndereco') Endereço
        textarea#textEndereco(name='endereco', cols='30', rows='10')=contato.endereco
    .form-action
        a(href='./index.html') ← Voltar 
        | &nbsp;
        button(type='reset') Limpar 
        | &nbsp;
        button.success(type='submit') Salvar 
        | &nbsp;