doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Agenda de Contatos
    link(rel='stylesheet', href='/css/style.css')
    block links
  body
    header
      h1 Agenda de contatos
    block content
    block scripts